<!DOCTYPE html>
<html>
<head>
   <% include ./partials/head %>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col">
        <h2>find the real name of the guy in your game</h2>
      </div>
    </div>

    <form method="post">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group">
          <input type="text" class="form-control" id="sum_name" name="sum_name" placeholder="summoner name">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">search</button>
          </span>
          </div>
        </div>

      </div>

      <div class="row col">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="region" id="region_na" value="na" checked=""> NA
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="region" id="region_eu" value="eu"> EU
          </label>
        </div>

      </div>

    </form>


    <% if (type == 1) { %>
      <% for (var team in data) { %>
        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th>summoner name</th>
                  <th>possible real name</th>
                  <th>champion</th>
                </tr>
              </thead>
              <tbody>
                <% for (var x in data[team]) { %>
                  <% var result = data[team][x] %>
                  <tr>

                    <td><%= result.summonerName %></td>

                    <% if (result.realName) { %>
                      <td><%= result.realName %></td>
                    <% } else { %>
                      <td>not found</td>
                    <% } %>

                    <td><image src=<%= "http://ddragon.leagueoflegends.com/cdn/7.4.3/img/champion/" + result.image.full %> </image> <%= result.championName %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      <% } %>
    <% } else if (type == 2) { %>
      <h3>summoner by that name does not exist</h3>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>summoner name</th>
                <th>possible real name</th>
              </tr>
            <tbody>
            </thead>
              <tr>
                <td><%= Object.keys(data)[0] %></td>
                <% if (Object.keys(data)[1]) { %>
                  <td><%= Object.keys(data)[1] %></td>
                <% } else { %>
                  <td>not found</td>
                <% } %>

              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    <% } else if (type == 3) { %>
      <h4>summoner is not in game</h4>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>summoner name</th>
                <th>possible real name</th>
              </tr>
            <tbody>
            </thead>
              <tr>
                <td><%= Object.keys(data)[0] %></td>
                <% if (Object.keys(data)[1]) { %>
                  <td><%= Object.keys(data)[1] %></td>
                <% } else { %>
                  <td>not found</td>
                <% } %>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    <% } %>
    
  </div>
</body>
</html>